body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* when we rotate an item, back part won't be visible */
    margin-bottom: 5rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-in-out; /* Animation will start slower and stop slower */
    }
  
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      text-align: center;
      animation: moveInRight 2s ease-in-out;
    }
  }  